* {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

body {

    background: rgb(5, 189, 146);
    float: left;

}

.logbj {
    background-image: url(/images/bg_reg_wave.png);
    background-repeat: no-repeat;
    background-size: 500px;

    width: 550px;
    height: 80px;
    margin: 5px 800px;

    padding: 5px 10px;
}

.logo {
    height: 60px;
    width: 200px;
    margin: 10px 120px;

}

.logo img {
    width: 80%;
    height: 80%;
    position: relative;
    left: 30px;
    top: -5px;
}

.login {
    display: flex;
    height: 250px;
    width: 550px;
    margin: 5px 800px;
    padding: 1px;
    background: #e3f3f6;

}

h3 {
    text-align: center;

}

li {
    width: 90px;
    height: 10px;
    list-style: none;
    position: relative;
    margin: 10px;
}

a {
    text-decoration: none;

}

.tishi {
    float: right;
    font-size: 10px;
    color: #7e7979;
    margin: 10px 0px;
}

a {
    font-size: 8px;
    color: rgb(5, 189, 146);
}

.left {
    width: 400px;
    height: 220px;
    margin: 20px 10px;
    float: left;
    padding: 5px 10px;
}

.left li {
    width: 350px;
    height: 200px;
    margin: 10px 10px;
    float: left;
}

form {
    height: 140px;
    width: 330px;
    margin: 10px 40px;
    padding: 1px;


}

input {
    margin: 8px;
    width: 300px;
    height: 25px;
    outline-style: none;
    background: rgb(237, 235, 235);
    border: 1px solid rgb(245, 243, 243);
}

.sub {
    background: rgb(5, 189, 146);
}

.right {
    height: 220px;
    width: 120px;
    float: right;
    padding: 5px;
    margin: 50px 2.5px;
}

.forget {
    width: 280px;
    height: 20px;
    margin: -10px 50px;
}

.L {
    float: left;
}

.R {
    float: right;
}

.third {
    display: flex;
    width: 552px;
    height: 100px;
    background: rgb(240, 237, 237);
    position: relative;
    top: -10px;
    left: 800px;
    ;


}



.third-left {
    width: 400px;
    height: 80px;
    margin: 10px 10px;
    float: left;
    padding: 5px 10px;
    font-size: 10px;
    color: #7e7979;
}

.third-right {
    height: 80px;
    width: 100px;
    float: right;
    padding: 1px;
    margin: 10px 1px;
}

.third-left li {
    width: 200px;
    height: 20px;
    margin: 15px 100px;

}

.third span {

    width: 552px;
    height: 30px;
    padding: 10px;
}

.third-right li {
    width: 70px;
    height: 20px;
    margin: 5px 0px;
    text-align: center;

}

.bottom {
    /* width: 100%; */
    height: 300px;
    background: rgb(50, 49, 49);
    margin: 50px auto;
    display: flex;
}

.bottom-left {
    margin: 20px 35px;
}

.bottom-left div {
    width: 180px;
    height: 100px;
    margin: 10px 100px;
}

.bottom-left div .logo {
    margin: 1px 1px;
    width: 150px;
    height: 80px;
}

.bottom-left div img {
    margin: 2px 30px;
    width: 50px;
    height: 50px;
}

.bottom-center {
    display: flex;
    color: azure;
    margin: 20px;

}

.bottom-center span {
    margin: 30px 40px;
}


.bottom-center li {
    color: #7e7979;
    font-size: 10px;
}

.bottom-center li ul {
    text-align: center;
}

.list {
    width: 200px;
    height: 150px;
    display: flex;
}